<!DOCTYPE html>
<html>
<head>
  <title>File explorer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "file_explorer/application", media: "all" %>
  <%= javascript_include_tag "file_explorer/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
