<h1><%= @absolute_path %> 
<% if current_page?('/file_explorer') %> <%= Dir.pwd %> <% end %></h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <td>
        <%= link_to "#{entry[:entry]}", "/#{entry[:relative]}", class: entry[:type].to_s %>
      </td>
      <td>
        <%= entry[:size] %>
      </td>
      <td>
        <%= entry[:date] %>
      </td>
      <td>
        <% if entry[:entry] != './' && entry[:entry] != '../' %>
          <%= link_to 'Delete', "/#{entry[:relative]}", method: :delete, class: 'delete', data: { confirm: "Are you sure you want to delete `#{entry[:absolute]}`?" } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr><br>
<h2>Some Commands I'm Intentionally saving on this page. . . signed => Odion Ohio</h2>
<% if request.ssl? == true %>
  <b>https is true</b>
<% else %>  
  <%= request.base_url[7..-1] %><br>
<% end %>
<%= request.base_url %> <br> 

<%= request.host %><%= request.port_string %><br>
<%= request.request_method %><br>
<%= request.url %><br>
<%= request.original_url %><br>
<%= request.ssl? %><br>